<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<h1>Hi, {{ g.user.username }}!</h1>
<p></p>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <table class="table table-hover">
            <tr>               
                <td rowspan="2" width="200px">
                </td>
                <td style='width: 200px; height: 200px;vertical-align: middle;text-align: center;'><a href="{{url_for('user', username = user.username)}}"><img src="{{user.avatar}}" style="border:3px solid #4A4AFF"/></a>
                </td>
                <td rowspan="2" width="30px">
                </td>
                <td rowspan="2" style='vertical-align: middle;text-align: left;'>
                    <p>上传头像:</p>
                    <div id="avatar-preview" style="border: 1px solid #ccc; width: 200px; height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center center;vertical-align: middle;text-align: center;"></div>
                    <p>
                        
                        {{ form.avatar(cols = 64, rows = 4, class = "span3") }}
                        <br />
                        {% for error in form.errors.avatar %}
                            <span class="help-inline">[{{error}}]</span>
                        {% endfor %}
                    </p>
                    <p id="avatar-info"></p>
                </td>
            </tr>
            <tr>
                <td style='vertical-align: right;text-align: left;'>
                    <div>
                        username:{{ form.username(size = 80, class = "span4") }}
                        {% for error in form.errors.username %}
                            <span class="help-inline">[{{error}}]</span><br>
                        {% endfor %}
                    </div>
                    <div>
                        about_me:{{ form.about_me(size = 140, class = "span4") }}
                        {% for error in form.errors.about_me %}
                            <span class="help-inline">[{{error}}]</span><br>
                        {% endfor %}
                    </div>
                    <div class="control-group" style='vertical-align: right;text-align: right;'>
                        <div class="controls">
                            <button class="btn btn-primary" type="submit" value="Sace changes!">Save changes!</button>
                            <button class="btn btn-danger" type="reset" value="Reset">Reset</button>
                        </div>
                    </div>                    
                </td>
            </tr>
        </table>
        
    </form>
</div>



<script>
$(function() {
    var fileInput = document.getElementById('avatar');
    var info = document.getElementById('avatar-info');
    var preview = document.getElementById('avatar-preview');
    fileInput.addEventListener('change', function () {
        preview.style.backgroundImage = '';
        if (!fileInput.value) {
            info.innerHTML = '没有选择文件';
            return;
        }
        var file = fileInput.files[0];
        info.innerHTML = '文件: ' + file.name + '<br>' +
                         '大小: ' + file.size + '<br>' +
                         '修改: ' + file.lastModifiedDate;
        if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
            alert('不是有效的图片文件!');
            return;
        }
        var reader = new FileReader();
        reader.onload = function(e) {
            var
                data = e.target.result;
                index = data.indexOf(';base64,');
            preview.style.backgroundImage = 'url(' + data + ')';

            // form.avatar.data = data;
            // alert(preview.style.backgroundImage);
        };
        reader.readAsDataURL(file);
    });
});
</script>
{% endblock %}

