<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% for user_per in userlist.items %}
    {% include 'user_per.html' %}
    {% endfor %}
    <div style="text-align: right">
        {% if userlist.has_prev %}
        <a href="{{ url_for('popular', user = user, page = userlist.prev_num) }}"><em><< Newer users</em></a>
        {% else %}
        << Newer users
        {% endif %}
        page {{ userlist.page }}
        {% if userlist.has_next %}
        <a href="{{ url_for('popular', user = user, page = userlist.next_num) }}"><em>Older users >></em></a>
        {% else %}
        Older users >>
        {% endif %}
    </div>
{% endblock %}