<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<article class="post">
  <div class="post-media"><a href="{{url_for('user', username = user.username)}}">
    <img class="img-ajax" src="{{user.avatar}}" alt="" style="display: block;"></a>
  </div>
  <div class="post-content">
    <div class="post-head home-post-head"><h1 class="post-title"><a href="{{url_for('user', username = user.username)}}">{{user.username}}</a></h1>
      <div class="post-meta">
        <time class="post-date" datetime="" title="">      
          {% if g.user.username == user.username %}
          <p>
            <a href="{{url_for('edit',username = g.user.username)}}">edit my info</a>
          </p>
          {% else %}
          
          <p>{{ user.posts.count() }} posts | {{ user.followers.count()-1 }} followers | {{ user.followed.count()-1 }} followeds
          </p>
          {% endif %}
        </time>
      </div>
    </div>
    {% if user.last_seen %}
    <p><em>Last seen: {{momentjs(user.last_seen).calendar()}}</em></p>
    {% endif %}

  </div>
  <footer class="post-footer clearfix">
    <div class="pull-left tag-list">
      <div class="post-meta">
        <span class="categories-meta fa-wrap"><i class="fa fa-folder-open-o"></i> <span>Cool~</span></span><span class="fa-wrap"><i class="fa fa-tags"></i> <span class="tags-meta">
            {{ user.username }}
        </span></span><span class="fa-wrap"><i class="fa fa-clock-o"></i> <span class="date-meta">{{ user.username }}</span></span>
      </div>
    </div>
      
    <div class="post-permalink">
      {% if g.user.is_following(user) %}
        <a href="{{url_for('unfollow', username = user.username)}}" class="btn btn-default">Unfollow</a>
      {% else %}
        <a href="{{url_for('follow', username = user.username)}}" class="btn btn-default">Follow</a>
      {% endif %}
    </div>
  </footer>
</article>




{% for post in posts.items %}
{% include 'post.html' %}
{% endfor %}
<div style="text-align: right">
  {% if posts.has_prev %}
  <a href="{{ url_for('user', username = user.username, page = posts.prev_num) }}"><em><< Newer posts</em></a>
  {% else %}
  << Newer posts
  {% endif %}
  page {{ posts.page }}
  {% if posts.has_next %}
  <a href="{{ url_for('user', username = user.username, page = posts.next_num) }}"><em>Older posts >></em></a>
  {% else %}
  Older posts >>
  {% endif %}
</div>

{% endblock %}