<table class="table table-hover" style="table-layout:fixed">
    <tr>
        <td width="140px" rowspan=$rowspan style='vertical-align: middle;text-align: center;'>
            {% if user_per.username %}
                <a href="{{url_for('user', username = user_per.username, page = 1)}}"><img src="{{user_per.avatar}}" style="border:3px solid #4A4AFF" /></a>
            {% else %}
                <img src="{{user_per.avatar}}" style="border:3px solid #4A4AFF" />
            {% endif %}
        </td>
        <td rowspan=$rowspan style='vertical-align: middle;'>
            {% if user_per.username %}
                <p><a href="{{url_for('user', username = user_per.username, page = 1)}}" >{{user_per.username}}</a></p>
                <p>{{ user.posts.count() }} posts</p>
            {% else %}
                <P>Sorry, this user doesn't exist!</P>
            {% endif %}
            {% if user_per.last_seen %}
                <p><em>Last seen: {{momentjs(user_per.last_seen).calendar()}}</em></p>
            {% endif %}
        </td>
    </tr>
</table>