<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<h1>Welcome to {{ user.username }}'s home page!</h1>
{% include 'flash.html' %}
<table class="table table-hover" style="table-layout:fixed">
    <tr>
        <td width="260px" height="260px" style='vertical-align: middle;text-align: center;'>
            <a href="{{url_for('user', username = user.username)}}"><img src="{{user.avatar}}" style="border:3px solid #4A4AFF"></a>
        </td>
        <td rowspan="3" style='vertical-align: middle;text-align: center;'>
            {% for post in posts.items %}
            {% include 'post.html' %}
            {% endfor %}
            {% if posts.has_prev %}
            <a href="{{ url_for('user', username = user.username, page = posts.prev_num) }}"><em><< Newer posts</em></a>
            {% else %}
            << Newer posts
            {% endif %}
            page {{ posts.page }}
            {% if posts.has_next %}
            <a href="{{ url_for('user', username = user.username, page = posts.next_num) }}"><em>Older posts >></em></a>
            {% else %}
            Older posts >>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style='height: 150px;vertical-align: middle;text-align: center;'>
            <table class="table table-hover"  border="0">
                <tr>
                    <p>{{ user.username }}</p>
                    {% if g.user.username == user.username %}
                    <p><a href="{{url_for('edit',username = g.user.username)}}">edit my info</a></p>
                    {% else %}
                    <p>
                        {% if g.user.is_following(user) %}
                        follow|<a href="{{url_for('unfollow', username = user.username)}}">unfollow</a>
                        {% else %}
                        <a href="{{url_for('follow', username = user.username)}}">follow</a>|unfollow
                        {% endif %}
                    </p>
                    {% endif %}
                    {% if user.last_seen %}
                    <p><em>Last seen: {{momentjs(user.last_seen).calendar()}}</em></p>
                    {% endif %}
                </tr>
                
            {% if g.user.username != user.username %}
            <tr>
                <th style='vertical-align: middle;text-align:center;'>
                    posts
                </th>
                <th style='vertical-align: middle;text-align:center;'>
                    followers
                </th>
                <th style='vertical-align: middle;text-align:center;'>
                    followeds
                </th>
            </tr>
            <tr>
                <td style='vertical-align: middle;text-align:center;'>
                    {{ user.posts.count() }}
                </td>
                <td style='vertical-align: middle;text-align:center;'>
                    {{ user.followers.count()-1 }}
                    
                </td>
                <td style='vertical-align: middle;text-align:center;'>
                    {{ user.followed.count()-1 }}
                    
                </td>
            </tr>
            {% endif %}        
            </table>
            
        </td>
    </tr>
    <tr>
        <td style='height: 260px;vertical-align: middle;'>
            <p><em>About me:</em></p>
            <div class="well" ><p>{{ user.about_me }}</p></div>
        </td>
    </tr>
    

</table>











{% endblock %}